.servicespage {
  background-image: url("../assets/services.jpg");
  background-size: cover;
  height: max-content;
  /* filter: blur(2px); */
}

.servicespage-container {
  display: flex;
  filter: blur(0px);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  min-height: 700px;
}
