.startpage {
  background-image: url("../assets/background.jpg");
  background-size: cover;
}

.startpage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 700px;
  /* background-color: green; */
}
