.iconpopup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: azure;
  border-color: azure;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 4px 0px 0px #c0d2f4;
  padding: 15px;
  border-radius: 20px;
}

.iconpopup-container:hover {
  box-shadow: 0px 0px 3px 3px lightblue;
  cursor: pointer;
}
