.navbar-container {
  display: flex;
  height: 70px;
  /* padding-left: 300px; */
  align-items: center;
  /* background-color: azure; */
  border-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: 0px 3px 0px 0px azure;
  margin-left: 80px;
  margin-right: 80px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  justify-content: flex-end;
}

.links-container {
  display: flex;
  /* background-color: #f0ffff; */
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
}
