.navbarlink-container {
  display: flex;
  box-shadow: 0px 4px 0px 0px #c0d2f4;
  background-color: white;
  opacity: 0.95;
  border-color: azure;
  border-style: solid;
  border-width: 1px;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}

.navbarlink-container:hover {
  box-shadow: 0px 0px 3px 3px lightblue;
  cursor: pointer;
}
