.servicecard-container {
  border-width: 1;
  border-style: solid;
  height: 450px;
  width: 300px;
  background-color: white;
  border-color: azure;
  box-shadow: 0px 4px 0px 0px #c0d2f4;
  opacity: 0.95;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.servicecard-container:hover {
  box-shadow: 0px 0px 3px 3px lightblue;
  cursor: pointer;
}

.servicecard-title {
  font-size: 30px;
}

.servicecard-offer {
  font-size: 15px;
}

.servicecard-price {
  font-size: 25px;
}
